<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="profile-view">
    <img 
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar"
    >
  </div>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <ul>
  <% profile.characters.forEach(character => { %>
    <a class='character-card' href="/characters/<%= character._id %>"><%= character.name %> <%= character.race%> <%=character.class%> </a>
  <% }) %>
  </ul>
</main>

<%- include('../partials/footer') %>