<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1><%= character.owner.name %></h1>
  <h1><%= character.name %> </h1>
</section>
<% if (character.owner.equals(user?.profile._id)) { %> 
  <a href="/characters/<%= character._id %>/edit">
      <button class="btn">Edit</button>
    </a>
    <form action="/characters/<%= character._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete</button>
    </form>
<% } %>
<% if (user) { %>
<form action="/characters/<%= character._id %>/comments" method="post">
  <textarea class='form-control' name="content" placeholder="Comment"></textarea>
  <button type="submit">save</button>
</form>
<% } else { %>
  <h3>Login to comment</h3>
<% } %>
<div>
<% character.comments.forEach(comment => { %>
  <p><%= comment.content %> </p>
<% }) %>
</div>
<%- include('../partials/footer') %>
