<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="character-display-section">
  <h3>Owner: <%= character.owner.name %></h3>
  <p>Name: <%= character.name %> </p>
  <p>Race: <%= character.race %> </p>
  <p>Class: <%= character.class %> </p>
  <p>Background:<%= character.background %> </p>
  <p>Level:<%= character.level %> </p>
  <p>Backstory:<%= character.backstory %> </p>
</section>
  <% if (character.owner.equals(user?.profile._id)) { %> 
    <div class="btn-container">
      <a href="/characters/<%= character._id %>/edit">
        <button class="btn">Edit</button>
      </a>
      <form action="/characters/<%= character._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete</button>
      </form>
    </div>
    <% } %>
<% if (user) { %>
  <div class="comment-section">
    <form class='reply-card' action="/characters/<%= character._id %>/comments" method="post">
      <input type="text" class='form-control' name="content" placeholder="Comment"></textarea>
      <button class="btn" type="submit">save</button>
    </form>
  <% } else { %>
    <h3 class="comment-section">Login to comment</h3>
    <% } %>
    <div class="comment"> 
      <% character.comments.forEach(comment => { %>
        <p><%= comment.content %> </p>
      <% }) %>
    </div>
  </div>
        <%- include('../partials/footer') %>
