<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1><%= character.owner.name %></h1>
  <h1><%= character.name %> </h1>
</section>
<%- include('../partials/footer') %>